
#home-carousel .carousel-item img{
    height: 100%;
}
#home-carousel .carousel-caption > h5{
    font-size: 20px;

}
#home-carousel .carousel-caption > p{
    font-size: 10px;

}
#home-carousel{
    height: auto;
}
