#home-pg{
    background-color: white;
}
#default-navbar{
    background-color: var(--pdf2);
}

#default-navbar .nav-link, 
#default-navbar .navbar-brand{
    color: white;
}
#defaul-navbar #navbar-opts form{
    
   justify-content: end;
}

.alert-register{
    text-align: center;
}
#btn-ingresar{
    color: var(--pdf2);
    background-color: white;
}
#btn-afiliarse{
    color: var(--pdf2);
    background-color: white;
}
